*/db/*.sqlite3
*/public/assets*
*/tmp
*/.DS_Store
.DS_Store
*/node_modules/
*/dist/
npm-debug.log
*/test/unit/coverage
*/test/e2e/reports
selenium-debug.log
*/tmp/
.env
*/.env
colorhiro_vue/src/helpers/variable.js
colorhiro_vue/build/dev-server.js
