colorhiro_server/db/*.sqlite3
colorhiro_vue/public/assets*
colorhiro_vue/tmp
*/.DS_Store
colorhiro_vue/node_modules/
colorhiro_vue/dist/
npm-debug.log
colorhiro_server/test/unit/coverage
colorhiro_server/test/e2e/reports
selenium-debug.log
colorhiro_server/tmp/
colorhiro_vue/.env
colorhiro_server/.env
